html{
    background-color: black;
}
h1{
    background-color: black;
    color: rgb(255, 232, 31);
    text-align: center;
    font-family: fantasy;
    font-style: italic;
    -webkit-text-stroke: .3px black;
}   
.App{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr;


  }

#display{
    height: 100px;
    background-color: rgba(230, 230, 230, 0.89);
    text-align: center;
    font-size: 26px;
    font-family: fantasy;
    font-style: italic;
    -webkit-text-stroke: 1.4px black;
    color: rgb(255, 232, 31);
    margin: 20px;
    padding: 10px;
    padding-top: 15%;
    border-radius: 10px;
    box-shadow: -15px 10px 5px gray
}